/*** start general then get more specific ***/

/**********  G L O B A L   S T Y L E S  **********   
** styles that are going to affect all or almost all of the elements **
---------------------------------------------------*/
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {	/* need to apply class .clearfix to parent of floated children in html*/
		    visibility: hidden;
		    display: block;
		    font-size: 0;
		    content: " ";
		    clear: both;
		    height: 0;
		    }

/** resets for all page **/
html {
	font-size: 62.5%;  /* Use rem unit; 1 rem = 10 px */
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	text-align: center;
}

h1 {
	color: rgba(255,255,255,1);
	font-size: 4rem;
	font-weight: bold;
	letter-spacing: 1.1rem;
	text-transform: uppercase;
}

h2 {
	color: rgba(255,255,255,0.66);
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
}

h3 {
	color: rgba(255,255,255,0.9);
	font-size: 4.5rem;
	letter-spacing: 0.4rem;
}

h4 {
	color: rgba(255,255,255,0.75);
	font-size: 3em;
	font-weight: normal;
	letter-spacing: 0.2rem;
}

h5 {
	color: rgba(214, 127, 18, 1);
	font-size: 2rem;
	letter-spacing: 0.25rem;
	margin: 0;
	padding: 0;
}

p {
	color: rgba(145, 148, 153, 1);
	font-size: 1.7rem;
	letter-spacing: 0.1rem;
	line-height: 3rem;
}

.bio p {
	color: rgba(255,255,255,0.75);
	font-size: 2em;
	/*line-height: ;*/
}

li {
	list-style: none;
}



/**********  H E A D E R  **********
--------------------------------------------*/
header {
	background: url("images/backgrounds/pic05.jpg") no-repeat;
	background-size: cover;
	background-position: top left;
	background-attachment: fixed;
	width: 100%;  /* also min- or max-width */
	padding: 3%;
	color: rgba(255, 255, 255, 1);
}

.nav ul {
	padding: 2% 3%;
	height: 2%;
	text-transform: uppercase;
	display: inline-block;
	height: 62px;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.50);
	border-radius: 10px;
	min-width: 60%;
}

.nav ul li {
	width: 24%; /*change to 25% once have websites to add to portfolio*/
	display: inline-block;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.nav a,
.nav a:visited {
	color: rgba(255,255,255,0.75);
	font-size: 1.1rem;
	line-height: 1.5rem;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 1rem;
	text-align: center;
	transition: all 0.3s ease-in-out;
	-webkit-transform: scale(1);
}

.nav li:hover {
	-webkit-transform: scale(1.1);
}

.nav a:hover {
	color: rgba(255,255,255,0.9);
}

/*.nav li ul li {
	display: list-item;
	margin: 0 auto;
	padding: 15% 10%;
	width: 100%;
}

.nav ul li ul {
	display: none;
	position: absolute;
	top: 271%;
	left: 20%;
}

.nav li:hover ul {
	display:block;
}

.nav li:hover ul a {
	padding: 20%;
	width: 100%;
}*/

.media {
	float: right;
}

.social {
	display: inline-block;
	width: auto;
/*	margin: 10% 0% 0 200%;
	padding: 0;
	position: relative;
	top: 0;
	bottom: 0;*/
}

.social img {
	width: 64px;
	height: 64px;
	margin-bottom: 30%;
}

/*.social li:nth-child(2) {
	position: absolute;
	top: 80%;
	right: 50%;
}

.social li:nth-child(3) {
	position: absolute;
	top: 160%;
	right: 0%;
}*/

/*.social li:nth-child(4) {
	position: absolute;
	top: 240%;
	right: 50%;
}*/

div.logo {
	padding: 10% 10% 20%;
}




/**********  A B O U T   S E C T I O N  **********
---------------------------------------------------*/
div.bio {
	background: linear-gradient(rgba(214, 127, 18, 0.9), rgba(214, 127, 18, 0.9)), url("images/overlay.png") repeat;
	width: 100%;
	height: 100%;
	padding: 1% 1%;
}

.standout {
	width: 95%;
	margin: 0 auto;
	margin-top: 5%;
	padding: 1% 10%;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.33);
	border-radius: 10px;
	line-height: 7rem;
}

.standout h3 {
	letter-spacing: 2rem;
	transition: all 0.3s ease-in-out;
}

.standout h3:hover {
	text-shadow: 1px 1px 1px rgba(255,255,255,1), -1px -1px 1px rgba(255,255,255,1);
}

.bold {
	color: rgba(255,255,255,1);
	font-weight: 600;
}

.bio p {
	width: 75%;
	margin: 0 auto;
	padding: 3% 5%;
	line-height: 5rem;
}

.engage {
	display: inline-block;
	width: 30%;
}

.button a {
	display: inline-block;
	margin: 4% auto;
	margin-bottom: 15%;
	height: 100%;
	padding: 6% 5%;
	border-radius: 10px;
	background: rgba(55, 55, 55, 1);
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.4rem;
	color: rgba(255,255,255,1);
	width: 100%;
}

.engage a {
	transition: all 0.3s ease-in-out;
}

.engage a:hover {
	background: rgba(68, 68, 68, 1);
}

/**********  C O N T E N T   S E C T I O N  **********
---------------------------------------------------*/
div.content {
	width: 100%;  /*100% of body element*/
	height: 100%;
	padding: 1%; 	/*to get rid of ghost space*/
	margin-top: 5%; /*white space above image*/
	background: url("images/backgrounds/pic08.jpg") no-repeat;
	background-size: 75%;
/*	background: url("images/backgrounds/pic03.jpg") no-repeat;
	background-size: 95%;*/
	background-position: top center;
}

.content h3 {
	color: rgba(72, 77, 85, 1);
	margin-top: 30%;
	display: inline-block;
}

.content h4 {
	color: rgba(177, 180, 185, 1);
	width: 75%;
	margin: 0 auto;
	line-height: 5rem;
}

li.skills {
	background: url("images/icons/html.png") 0 10% no-repeat;
	background-size: 15%;
	margin: 2%;
	padding: 2%;
	padding-left: 7%;
	border-top: 1px solid rgba(177, 180, 185, 0.5);
	width: 42%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

li.skills:nth-child(2) {
	background: url("images/icons/javascript.png") 2% 12% no-repeat;
	background-size: 12%;
}

li.skills:nth-child(3) {
	background: url("images/icons/wordpress.png") 2% 12% no-repeat;
	background-size: 10%;
}

li.skills:nth-child(4) {
	background: url("images/icons/responsive.png") 2% 12% no-repeat;
	background-size: 12%;
}

li.skills:nth-child(5) {
	background: url("images/icons/navigation.png") 2% 12% no-repeat;
	background-size: 12%;
}

li.skills:nth-child(6) {
	background: url("images/icons/user.png") 2% 12% no-repeat;
	background-size: 10%;
}

li.skills h5 {
	font-size: 3rem;
	text-align: left;
}

li.skills p {
	font-size: 2rem;
	text-align: left;
}

.skills:first-child,
.skills:first-child + .skills {
	border-top: none;
}



/**********  C O N T A C T   S E C T I O N  **********
------------------------------------------------------*/

.contact {
	display: inline-block;
	width: 45%;
}

.contact a {
	margin: 10% auto;
	margin-top: 0;
	padding: 4% 5%;
	color: rgba(255,255,255,1);
	background-color: rgba(214, 127, 18, 0.9);
	background-image: url("images/overlay.png");
	background-repeat: repeat;
	transition: background 0.3s ease-in-out;
}

.contact a:hover {
	background-color: rgba(214, 127, 18, 0.75);
}



/********** P O R T F O L I O   S E C T I O N  ********** 
------------------------------------------------------*/

/*.portfolio {
	background: linear-gradient(rgba(243, 243, 243, 0.5), rgba(243, 243, 243, 0.5)), url("images/overlay.png") repeat;
	width: 100%;
	height: 100%;
	padding: 7% 2% 0;
}

.projects {
	width: 100%;
	height: 100%;
	padding: 1%;
}

.project1,
.project2,
.project3 {
	width: 33%;
	float: left;
	padding: 2%;
}

.portfolio img {
	border: 12px solid white;
	margin-bottom: 5%;
}

.portfolio a {
	display: inline-block;
	width: 25%;
	padding: 2% 2%;
	box-shadow: inset 0px 0px 1px 1px rgba(72, 77, 85, 0.25);
	border-radius: 10px;
	height: 100%;
	color: rgba(72, 77, 85, 1);
	background-color: transparent;
}*/

/*.toTop {
	margin: 0 auto -90px;
	width: 100%;
}

.toTop a:hover {
	background: rgba(68, 68, 68, 0.75);
	color: rgba(255, 255, 255, 1);
}*/


/********** F O O T E R   S E C T I O N  ********** 
------------------------------------------------------*/

footer {
	background: rgba(40, 43, 36, 1);
	padding: 5%;
}

/*footer p {
	display: inline-block;
	box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.25);
	border-radius: 10px;
	height: 100%;
	padding: 2% 3%;
}*/

footer li,
footer a,
footer a:hover {
	color: rgba(255,255,255,0.66);
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	padding: 2%;
	transition: all 0.3s ease-in-out;
}

footer a,
footer a:hover {
	text-decoration: none;
}

footer li {
	background: url("images/icons/phone.png") 0 10% no-repeat;
	background-size: 20%;
	margin: 2%;
	padding: 2%;
	padding-left: 7%;
	letter-spacing: 0.5rem;
	color: rgba(255,255,255,0.66);
}

footer a:hover,
footer li:hover {
	color: rgba(255,255,255,0.9);
}

footer li:nth-child(2) {
	background: url("images/icons/mail.png") 0 50% no-repeat;
	background-size: 17%;
	padding-right: 5%;
}

footer li:nth-child(2) > a {
	padding-left: 6%;
}






/*
oranges to try:
orange: rgba(243, 156, 18,1.0);
carrot: rgba(230, 126, 34,1.0);
pumpkin: rgba(211, 84, 0,1.0);
*/